@import url("../styles/theme.css");
/*Body start*/
.wrapper {
  max-width: 90rem;
  background-color: var(--background-body-color);
  margin: 0 auto;
  padding: 0 2.5rem 0 2.5rem;
}

body {
  background-position: top center;
  max-width: 90rem;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  overflow-y: scroll;
  background-color: var(--border-light-color);
}

/*Body END*/
/*HEADER Start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-fixed-container::before {
  content: "";
  position: absolute;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  background-color: var(--background-body-color);
  opacity: 0.9;
}

.header-fixed-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-top: 0.938rem;
  min-height: 64px;
  padding-bottom: 1.563rem;
  opacity: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 70.5px;
  cursor: pointer;
  transform: scale(1) rotate(-8deg);
  transition: transform 0.3s ease-in-out;
}

@media (hover: hover) {
  .logo:hover .logo-container:hover {
    transform: scale(0.98);
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
.logo-container {
  background-color: var(--text-light-color);
  width: 2.42rem;
  height: 2.42rem;
  border-radius: 2.42rem;
  position: relative;
}

.logo-container span {
  position: absolute;
  top: 55%;
  left: -135%;
  transform: translate(-50%, -50%);
}

.logo-container::after {
  content: "IN ONE DAY";
  color: var(--text-dark-color);
  position: relative;
  left: -10%;
  top: 70%;
  white-space: nowrap;
  font-size: 0.5rem;
  letter-spacing: 0.022rem;
  font-weight: bold;
  transform: rotate(8deg);
}

.header-nav {
  margin-left: 26px;
}

.header-nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header-nav-li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-dark-color);
}

.header-nav-li {
  position: relative;
  margin-top: 0.3125rem;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

@media (hover: hover) {
  .header-nav-li:hover a {
    box-shadow: 0 2px var(--background-background-color);
    transform: translateY(2px);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}
.header-menu {
  cursor: pointer;
  margin-right: 37px;
  padding-left: 50px;
}

@media (hover: hover) {
  .header-menu:hover .header-menu-wrapper::before {
    box-shadow: 0 2px var(--background-background-color);
    transform: translateY(2px);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}
.header-menu-wrapper {
  position: relative;
  left: -4%;
  margin-top: 0.5rem;
}

.header-menu-wrapper::before {
  position: absolute;
  content: "Menu";
  color: var(--text-dark-color);
  left: -260%;
}

.burger-button {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border: 1px solid var(--text-dark-color);
  border-radius: 50px;
  gap: 8px;
}

.burger-line {
  display: none;
  height: 0.1px;
  width: 16px;
  border: 1px solid var(--text-dark-color);
  border-radius: 2px;
  background-color: var(--text-dark-color);
  transition: transform 0.3s ease;
}

/* HEADER END*/
.logo-container img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.lcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 80%;
  padding: 20px;
}

footer {
  background-color: #599bbe;
  color: white;
  padding: 20px;
  height: 20%;
}



/*# sourceMappingURL=style.css.map */
