@import url("../styles/theme.css");
@import url('../styles/reset.css');
@import url('../styles/button.css');

/*Body start*/
.wrapper {
  max-width: 90rem;
  background-color: var(--background-body-color);
  margin: 0 auto;
  padding: 0 2.5rem 0 2.5rem;
}

body {
  background-position: top center;
  max-width: 90rem;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  overflow-y: scroll;
  background-color: var(--border-light-color);
}

/*Body END*/
/*HEADER Start */


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-fixed-container::before {
  content: "";
  position: absolute;
  max-width: 1400px;
  width: 100%;
  height: 100%;
  background-color: var(--background-body-color);
  opacity: 0.9;
}

.header-fixed-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding-top: 0.938rem;
  min-height: 64px;
  padding-bottom: 1.563rem;
  opacity: 1;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-left: 70.5px;
  cursor: pointer;
  transform: scale(1) rotate(-8deg);
  transition: transform 0.3s ease-in-out;
}


@media (hover: hover) {
  .logo:hover .logo-container:hover {
    transform: scale(0.98);
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
.logo-container {
  background-color: var(--text-light-color);
  width: 2.42rem;
  height: 2.42rem;
  border-radius: 2.42rem;
  position: relative;
}

.logo-container span {
  position: absolute;
  top: 55%;
  left: -135%;
  transform: translate(-50%, -50%);
}

.logo-container::after {
  content: "IN ONE DAY";
  color: var(--text-dark-color);
  position: relative;
  left: -10%;
  top: 70%;
  white-space: nowrap;
  font-size: 0.5rem;
  letter-spacing: 0.022rem;
  font-weight: bold;
  transform: rotate(8deg);
}

.header-nav {
  margin-left: 26px;
}

.header-nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header-nav-li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-dark-color);
}

.header-nav-li {
  position: relative;
  margin-top: 0.3125rem;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

@media (hover: hover) {
  .header-nav-li:hover a {
    box-shadow: 0 2px var(--background-background-color);
    transform: translateY(2px);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}
.header-menu {
  cursor: pointer;
  margin-right: 37px;
  padding-left: 50px;
}

@media (hover: hover) {
  .header-menu:hover .header-menu-wrapper::before {
    box-shadow: 0 2px var(--background-background-color);
    transform: translateY(2px);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}
.header-menu-wrapper {
  position: relative;
  left: -4%;
  margin-top: 0.5rem;
}

.header-menu-wrapper::before {
  position: absolute;
  content: "Menu";
  color: var(--text-dark-color);
  left: -260%;
}

.burger-button {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border: 1px solid var(--text-dark-color);
  border-radius: 50px;
  gap: 8px;
}

.burger-line {
  display: none;
  height: 0.1px;
  width: 16px;
  border: 1px solid var(--text-dark-color);
  border-radius: 2px;
  background-color: var(--text-dark-color);
  transition: transform 0.3s ease;
}

/* HEADER END*/
/* SECTION ENJOY START*/
.section-enjoy {
  min-height: 40.25rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.enjoy-container {
  position: relative;
  min-height: 40.25rem;
  border-radius: 2.5rem;
  z-index: 2;
}

.enjoy-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  object-fit: cover;
  z-index: -1;
  transition: background-size 0.5s ease-in-out;
  background-size: 120%;
  transform-origin: center;
}

.enjoy-content {
  padding: 100px;
  max-width: 530px;
}

@media (max-width: 1440px) {
  .enjoy-content {
    max-width: 530px;
    padding: 100px;
    padding-left: calc(60px + 40 * (100vw - 768px) / 672);
  }
}
.hero-title {
  color: var(--background-body-color);
  padding-bottom: 40px;
}

.hero-title::before {
  content: "Enjoy";
  color: var(--text-light-color);
  font-style: italic;
}

.hero-description {
  color: var(--border-light-color);
  max-width: 25.125rem;
  padding-bottom: 40px;
}

.hero-button {
  color: var(--background-background-color);
  background-color: var(--background-body-color);
  font-weight: bold;
  padding: 1.25rem 4.875rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}

/* SECTION ENJOY END*/

/* SECTION ABOUT START*/

.section-about{
	min-height: 82.813rem;
	padding-top: 6.27rem;
	padding-bottom: 80px;
}

.section-about-container{
	display: flex;
	flex-direction: column;
	align-items: end;
	align-items: center;
}

.section-about-title{
	font-style: italic;
	color: var(--text-light-color);
	margin-left: 0.01em;
}

.section-about-title::before{
	content: 'Make your';
	font-style: normal;
	color: var(--text-dark-color);
}

.section-about-title::after{
	content: 'in an instant with Wedding in one day, ensuring a seamless experience for your special day!';
	font-style: normal;
	color: var(--text-dark-color);
}

/*GRID START*/


.grid-item {
	display: inline-block;
	border-radius: 20px;
	background-position: center;
	object-fit: cover;
	transition: background-size 0.5s ease-in-out;
	background-size: 110%;
	background-repeat: no-repeat;
	margin-right: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	
}

.about-grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 1100px;
	padding-top: 20px;
}

.grid1 {
	background-image: url("../assets/images/grid_1.jpg");
	height: 590px;
	width: 660px;
	background-color: red;
	
}
.grid2 {
	background-image: url("../assets/images/grid_2.jpg");
	background-color: gray;
	height: 430px;
	width: 660px;
}
.grid3 {
	background-image: url("../assets/images/grid_3.jpg");
	background-color: green;
	height: 430px;
	width: 660px;
}
.grid4 {
	background-image: url("../assets/images/grid_4.jpg");
	background-color: blue;
	height: 590px;
	width: 660px;
}


@media (hover:hover) {
	.grid-item:hover{
		background-size: 100%;
	}
}

/*GRID END*/

/* SECTION ABOUT END*/


/* CONTUCT US SECTION START*/

.contact-us-container {
	min-height: 450px;
	padding-bottom: 40px;
}
.contact-slogan{
	max-width: 530px;
}
.contact-us-block {
	display: flex;
	justify-content: start;
	align-items: center;
	min-height: 250px;
	background-color: var(--border-dark-color);
	border-radius: 40px;
	padding: 100px;
	gap: 100px;
}

.contact-us-title {
	font-style: italic;
	color: var(--text-light-color);
	margin-bottom: 40px;
}

.contact-us-title::before{
	content: 'Sip, Savor, Smile. ';
	font-style: normal;
	color: var(--border-light-color);
}

.footer-social{
	display: flex;
	gap: 12px;
	
}


.contact-us-contacts-conteiner{
	display: flex;
	align-items: flex-start; 
	flex-direction: column;
	max-width: 530px;
	color: var(--background-body-color)
}

.contact-us-contacts-title{
	padding-top: 15px;
	padding-bottom: 39px;
}

.contact-us-time, .contact-us-phone, .contact-us-address{
	display: flex;
	align-items: flex-start;
	padding-bottom: 3px;
	margin-bottom: 17px;
}

.contact-us-address, .contact-us-phone{
	cursor: pointer;
}
.contact-us-address address, .contact-us-time span, .contact-us-phone span{
	align-items: flex-start;
}


.footer-adress-icon{
	padding-right: 5px;
}

@media (hover:hover) {
	.contact-us-address:hover, .contact-us-phone:hover{
		box-shadow: 0 2px var(--background-background-color);
		transform: translateY(2px);
		transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
	}
}

@media (max-width: 1439px) {

	.section-enjoy{
		min-height: 40.25rem;
	}


	.favourites-coffee-titile{
		padding-bottom: 5.2vw;
	}

	.favourites-coffee-titile::before{
		padding-left: calc(20px + (277 - 20) * ( (100vw - 768px) / ( 1440 - 768) ));
	}

	.about-grid {
		height: auto;
		min-height: 1060px;
		flex-direction: row;
		justify-content: center;
	}
	.grid2, .grid3{
		display: none;
	}

	.mobile-title{
		max-width: 688px;
		margin-right: 5vw;
	}

	.mobile-description{
		max-width: 688px;
	}


	.mobile-title{
		padding-top: 0;
	}
	
	.mobile-image{
		max-width:  630px;
		width: 100%;
	}
}

@media (max-width: 1154px) {
	.favourites-coffee-container{
		text-align: center;
	}
	.favourites-coffee-titile::before{
		padding-left: 0;
	}
	.about-grid {
		flex-direction: column;
	}
	.grid-item{
		background-size: 106%;
		width: 100%;
	}

	.grid1,.grid2,.grid3,.grid4 {
		height: 590px;
		width: 688px;
	}

	.contact-us-block{
		flex-direction: column;
		padding: 100px 60px 84px 60px;
		align-items: start;
		gap: 86px;
	}

	.menu-cell-5, .menu-cell-6, .menu-cell-7, .menu-cell-8{
		display: none;
	}

	.menu-refresh-bottom{
		display: flex;
		justify-items: center;
		align-items: center;
		margin-top: 39px;
	}
}

/*<760px*/

@media (max-width: 768px) {
	.header-nav{
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: start;
		margin: 0;
		top: 98.5px;
		right: -100%;
		width: 100%; 
		height: 100%; 
		transition: right 1s ease-in-out;
		
		
	}
	
	.header-nav::before {
		content: '';
		position: absolute;
		
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: var(--background-body-color);
		opacity: .9;
		z-index: -1;

		transition: right 1s ease-in-out;
	}
	
	.header-nav.show {
		right: 0%;
	}

	.header-nav-ul{
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		height: 100%;
		gap: 55px;
	}

	.header-nav-ul li a {
		font-family: var(--font-family-inter);
		font-size: 32px;
		font-weight: 600;
		line-height: 125%;
	}

	.header-nav-ul li:first-child{
		padding-top: 57px;
	}

	.header-nav-ul li:last-child{
		padding-top: 31px;
	}

	.header-nav-ul li:last-child span {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: url(../img/coffee-cup.svg) no-repeat;
		background-size: contain;
		margin-left: 15px;
		position: relative;
  	top: 8px;
	}

	@media (hover:hover) {
		.header-menu:hover {
			box-shadow: 0 0px white;
		}
	}

	.burger-button{
		display: flex;
	}
	
	.burger-line{
		display: block;
	}

	.header-menu-wrapper svg, .header-menu-wrapper::before{
		display: none;
	}

	.about-grid {
		flex-direction: column;
		width: 100%;
	}
	
	

}

@media (max-width: 767px) {

	.enjoy-container{
		min-height:  calc(292px + (644 - 552) * ( (100vw - 380px) / ( 768 - 380) ));
		padding-bottom: calc((100 - 60) * ( (100vw - 380px) / ( 768 - 380) ));;
	}

	.enjoy-content{
		max-width: 530px;
		padding: 0;
		padding-top: calc(60px + (100 - 60) * ( (100vw - 380px) / ( 768 - 380) ));
		padding-left: calc(16px + (60 - 16) * ( (100vw - 380px) / ( 768 - 380) ));
		padding-right: calc(16px + (60 - 16) * ( (100vw - 380px) / ( 768 - 380) ));
		padding-bottom: calc(60px + (100 - 60) * ( (100vw - 380px) / ( 768 - 380) ));
	}
	
	.favourites-coffee-slider-button-forward, .favourites-coffee-slider-button-back{
		display: none;
	}
	.favourites-coffee-slider{
		justify-content: center;
	}
	.grid-item{
		background-size: 105.4%;
		width: 100%;
	}

	.grid1,.grid2,.grid3,.grid4 {
		height: 590px;
		width: 100%;
		background-size: cover;
	}
	


	.mobile-image {
		background-repeat: no-repeat;
    max-width: 630px;
    width: 100%;
    text-align: center;
	}

	.favourites-coffee-card-block img {
		height: calc(348px + (480 - 380) * ( (100vw - 380px) / ( 768 - 380) ));
		width: calc(348px + (480 - 380) * ( (100vw - 380px) / ( 768 - 380) ));
		background-size: contain;
		background-position: center;
	}
}

@media (max-width: 600px) {
	.wrapper {
		padding: 0 4.1vw 0 4.1vw;
	}

	
	.section-enjoy{
		padding-top: 100px;
	}

	


	.mobile-apps-description-buttons{
		flex-direction: column;
	}
	.logo{
		margin-left: calc(46.5px + (71 - 47.5) * ( (100vw - 380px) / ( 600 - 380) ));
	}

	.header-menu{
		cursor: pointer;
		margin-right: calc(13px + (40 - 13) * ( (100vw - 380px) / ( 600 - 380) ));
		margin-top: 2px;
	}

	.favourites-coffee-titile{
		padding-top: 9px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.section-favourites-coffee{
		min-height: auto;
	}

	.favourites-coffee-container{
		padding-top: 10px;
	}

	.favourites-coffee-slider{
		min-height: auto;
		padding-top: 40px;
	}

	.section-about-container{
		padding-top: 102px;
	}

	.grid-item {
		background-size: 210%;
	}

	.section-modile{
		padding-top: 80px;
	}

	.mobile-title{
		margin-right: 0;
	}

	.mobile-description {
		padding-top: 39px;
	}
	.mobile-apps-description{
		padding-bottom: 40px;
	}
	
	.mobile-button:first-child{
		margin-bottom: 20px;
	}

	.mobile-image{
		padding-bottom: 0;
		height: 348px;
	}

	.contact-us-container {
		min-height: auto;
		padding-bottom: 40px;
	}

	.contact-us-block{
		padding: 60px 16px 45px 16px;
		min-height: auto;
		gap: 25px;
	}
	

	.contact-us-title {
		margin-bottom: 40px;
	}

	.contact-us-container{
		padding-top: 100px;
	}

	.contact-us-title {
		white-space: normal;
	}

	.contact-us-contacts-conteiner{
	}


	.menu-page-container{
		padding-top: 100px;
	}

	.menu-drinks{
		gap: 8px;
	}

	.contact-us-title {
		position: relative;
  	display: inline-block;
		width: auto;
	}
	
	.contact-us-title h3 {
		word-wrap: break-word;
		overflow-wrap: break-word;
	}





/*# sourceMappingURL=style.css.map */
